@charset "UTF-8";

body {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}
div {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin : 1px;
	background: url(../img/number2.gif);
	background-position: 0px 0px;
}
