$nav-back:#1c1a1a; // fixed top back color
$backcolor:#ededed; // background color]
$educolor:#f8535c; // eduticket color
$white:#fff;
$black:#000;
$grey:#ccc;
$coverback:#200200;
$footpart:#313131;


