html{height:100%}
body{min-height:100%;margin:0;padding:0;background-color:#b6a996;background:url(../images/hobart.jpg) no-repeat center center fixed;background-size:cover;font-family:helvetica,arial,sans-serif;font-size:100%;text-align:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover}
#content{display:inline-block;overflow:auto;max-width:580px;min-height:4em;margin:20px auto 50px;padding:30px 50px;border:3px double #31373f;background-color:#fff;color:#31373f;text-align:center}
h1,h2{overflow:hidden;text-indent:100%;white-space:nowrap}
h1{width:278px;height:112px;margin:0 auto;padding-top:40px;background:url(../images/elderflower-logo.png) no-repeat bottom center}
h2{width:286px;height:18px;margin:0 auto 20px;background:url(../images/custom-sign.png) no-repeat center center}
#title{font-size:120%;font-weight:bold}
#cost,.action{float:right;width:auto;height:1em;padding:.5em .75em;background-color:#f84c53;color:#fff}
#cost{position:relative;top:1em;right:2em}
.action{position:relative;top:1.3em;right:-2.3em}
#note{display:inline-block;margin-top:1em;padding:.5em 1em;border-radius:.5em;background-color:#31373f;color:#e3bb5a;text-transform:uppercase}
a{color:#e3bb5a;text-decoration:none}
.true,.false{display:block;float:right;width:25px;height:25px;background:url(../images/tick-cross.png)}
.false{background-position:0 -25px}
.message{display:block;clear:left;min-width:10em;height:2em;font-weight:bold;line-height:1.5em}
.message span{font-weight:normal}
.number{text-align:left}
table{margin:20px 100px 0}
td{text-align:left}
tr td:first-child{padding-right:20px;font-weight:bold}
body:before,body:after{position:fixed;right:0;left:0;height:20px;background:#fff;content:''}
body:before{top:0}
body:after{bottom:0}
body{border-left:20px solid #fff;border-right:20px solid #fff}