 * {
  margin:0;
  padding:0;
 }
.container-full {
  width:100%;
  padding:0;
  margin:0;
}
.container {
  width: 1150px !important;
  margin: 0 auto;
}

.col-3 {
  width:1/3.5*100%;
  padding:20px;
  display: inline-block;
}
.fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  padding:5px;
  margin:3px;
  line-height: 1.5em;
  font-weight: normal;
}
@each $header, $size in (h1: 3em, h2: 2.5em, h3: 2em, h4: 1.8em, h5: 1.4em, h6: 1em) {
  #{$header} {
    font-size: $size;
  }
}  
// padding sequence
@for $i from 1 through 20 {
  .padding-#{$i} { padding: 2px * $i; }
  .pt-#{$i} {padding-top: 2px * $i;}
  .pb-#{$i} {padding-bottom: 2px * $i;}
}

//auto image width
@for $i from 1 through 10 { 
  .img-#{$i} { width: 10% * $i; height:auto }
}

.frame {
 // @include box-shadow(rgba(#000,0.5) 2px 2px 10px);
  border:10px solid #fff; 
  margin-right:30px;
  box-shadow:rgba(#000,0.5) 2px 2px 10px;
}

.lfloat {  
  float:left; 
  display: inline-block;
}
.rfloat {
  float:right; 
  display: inline-block;
}

