@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);

@font-face {
 font-family: 'NanumSquare';
 src: url(./fonts/NanumSquareR.eot);
 src: url(./fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./fonts/NanumSquareR.woff) format('woff'),
      url(./fonts/NanumSquareR.ttf) format('truetype');
}
