@import "color";
@import "font";
@import "mixin";
@import "global";
@import "navbar";
@import "footer";
@import "front";
@import "eduticket";
@import "backto";
@import "list";
@import "detail";
@import "inquery";
@import "mobile";

