$default-color:#999;
$navhover-color:#ffb069;
$aside-hover:#ff0000;
$header-back:#eee;
header { background-color: $header-back; display:block; height:100px;
  nav { 
    ul {
        list-style:none;
        float:right;
        li{
           display: inline-block;
           a {
               display: block;
               padding: 5px 3px;
               margin:10px 20px;
               text-decoration: none;
               color:$default-color;
               &:hover {
                    border-bottom:1px dotted $navhover-color;
                    color:$navhover-color;
                }  
            }
         }   
      } 
   }
 }

aside { width:250px; float:left;
    nav {
    ul {
        list-style:none;         
        padding:0;
        margin-top:30px;
        li{ 
           a {
               display: block;
               padding: 5px 10px;               
               text-decoration: none;
               color:$default-color;
               width:100px;
               &:hover {
                    border:1px solid $aside-hover;
                    color:$aside-hover;
                }  
            }
         }   
      } 
   }
}
