// backto top
// 
 a.back-to-top {
  display: none;
  @include boxs (45px, 45px);
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: $educolor url("../imgs/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
a:hover.back-to-top {
  background-color: #000;
}